nvidia-cusparse-cu12
setuptools
transformers==4.41.2
bitsandbytes
accelerate
langchain
unstructured
langchain-community 
bs4
qdrant-client
langchainhub
nltk
bitsandbytes
accelerate
xformers
pdfminer.six
unstructured[local-inference]
pymupdf
pyMuPDF
PyPDF2